:root, html {
  color-scheme: normal;
  font-size: clamp(1rem, calc(0.0625rem + 1.389vh), 1.3125rem);
}

body {
  height: 100vh;
  background: transparent;
  overflow: hidden;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 100%;
}

::-webkit-scrollbar-track {
  border-radius: var(--mantine-radius-sm);
  background: var(--mantine-color-dark-7);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--mantine-radius-sm);
  background: var(--mantine-color-dark-6);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mantine-color-dark-5);
}